{% extends "base.html" %}

{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/images/img_bg_2.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">

                
                <div class="row row-mt-15em">
                
                    <div>
                        <h3>Crea un nuevo post</h3>
                        <form action="/post" method="POST">
                            <input type="text" class="newPost" name="post" placeholder="Escribe tu post aca" >
                            <input type="submit" value="Enviar">
                        </form>
                    </div>
                    <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                        <div class="form-wrap" id="tuitsBox2" >
                            <div class="tab">

                                
                                <div class="tab-content" id="tuitsBox" style="background-image: url(/images/chat.jpg)">
                                    <h3 style="color: white;">Tuits de {{ current_user.getName() }}</h3>
                                    <a href="/follow/{{ current_user.getUserId() }}"><i class="fas fa-user-plus"></i></a>
                                    <p>A divertirse!!!!</p>

                                    {% for post in posts %}
                                    
                                    <div class="postBox">
                                        <h4 class="userNamePost">{{post.getUserId()}}</h4>
                                        <h6>{{post.getDate()}}</h6>
                                        <p>
                                           <span style="font-weight: bold;">Message -</span> {{post.getContent()}}
                                        </p>
                                        <div class="likes">
                                            <a>{{ post.likes }}</a>
                                            <a href="/like/{{post.getPostId()}}?URL=/user/me"><i class="fas fa-thumbs-up"></i></a>
                                            <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                        </div>
                                    </div>

                                    {% endfor %}

                
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
  </header>

{% endblock %}

