{% extends "base.html" %}

{% block content %}
<body style="text-align: center;">
    <h1>Registrarse</h1>
    <form action="/register" method="Post">
        <label>Ingrese User Id: </label><input type="text" name="userId"/><br>
        <label>Ingrese Nombre: </label><input type="text" name="name"/><br>
        <label>Ingrese Clave: </label><input type="password" name="password"/><br>

        <input type="submit" value="Registrarse"/>
    </form><br>

    <h1>Logearte</h1>
    <form action="/login" method="Post">
        <label>Ingrese User Id: </label><input type="text" name="userId"/><br>
        <label>Ingrese Clave: </label><input type="password" name="password"/><br>
        
        <input type="submit" value="Logearse"/>
    </form><br>
</body>
{% endblock %}